.footer {
  padding: 0 calc(50% - 600px);
  background-color: #252525;
  color: #fff;

  display: flex;
  justify-content: space-between;

  &__left {
    width: 25%;
    padding: 30px;
    border-right: 1px solid #ccc;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__logo,
  &__social,
  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  &__social {
    margin-bottom: 40px;
  }

  &__center {
    width: 50%;
    height: 100%;
  }

  &__search {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__menu {
    height: 100%;
    &--wrap {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
    }

    width: calc(50% - 1px);

    display: flex;
    justify-content: center;
    align-items: stretch;

    &:not(:last-child) {
      border-right: 1px solid #ccc;
    }
  }

  &__contacts {
    width: 25%;
    padding: 30px;
    border-left: 1px solid #ccc;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
