.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;

  &__logo {
    &--link {
      display: flex;
    }

    &--desc {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__contacts {
    display: flex;
  }

  &__email {
    display: flex;
    flex-direction: column;
  }

  &__phone {
    &--wrap {
      display: flex;
      flex-direction: column;
    }
  }
}
