.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;

  &__logo {
    &--link {
      display: flex;
    }

    &--desc {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__contacts {
    display: flex;
  }

  &__email {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__phone {
    margin-left: 15px;
    &--wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__callback {
    margin-left: 15px;
    &--link {
      display: block;
      padding: 15px;
      border: 1px solid #ccc;
      color: #252525;
      border-radius: 4px;
    }
  }
}
